name: Continous Integration

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Frontend - format, Lint, Check Types, test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2
        with:
          version: 7.26.2
      - run: cd frontend
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build
