name: Continous Integration

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Run tests
        run: cargo test
      - name: Build
      - run: cargo install sqlx-cli
      - run: touch db.sql
      - run: sqlx migrate run
      - run: cargo build

